<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="testBean"
          class="kz.alken1t.alex.TestBean">
        <constructor-arg value="Neil"/>
    </bean>

    <bean id="musicBean"
          class="kz.alken1t.alex.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getClassicalMusic"
    >
    </bean>

    <bean id="musicRock"
          class="kz.alken1t.alex.RockMusic">
    </bean>

    <bean id="musicHipHop"
          class="kz.alken1t.alex.HipHopMusic">
    </bean>

    <!--    <bean id="musicPlayer"-->
    <!--          class="kz.alken1t.alex.MusicPlayer">-->
    <!--        <constructor-arg ref="musicBean"/>-->
    <!--    </bean>-->

    <bean id="musicPlayer"
          class="kz.alken1t.alex.MusicPlayer">
        <property name="music" ref="musicBean"/>
        <!--        <property name="name"  value="Some name"/>-->
        <!--        <property name="volume" value="50"/>-->
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
        <property name="musicList">
            <list>
                <ref bean="musicBean"/>
                <ref bean="musicRock"/>
                <ref bean="musicHipHop"/>
            </list>
        </property>
    </bean>

</beans>